
html{
    font-size: 13px;
}

img{
    max-width: 100%;
}

h2, .h2 {
    font-size: 2.8rem;
}

body {
    font-family: 'ArialMT';
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: 'MuseoSlab-500';
}

.navbar-brand {
    max-width: 50%;
}

header {
    border-bottom: 1px dotted #000;
}

header .navbar-nav a {
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px dotted #000;
    transition: 0.5s linear;
    padding: 0 10px;
}

header .navbar-nav li:last-of-type a {
    border-bottom: 0;
}

header .navbar-nav li.active a,
header .navbar-nav li:hover a {
    background: #000;
    color: #fff !important;
}